{% extends "template.html" %}

{% block title %}Adjudicator Merge Requests{% endblock %}

{%block description%}Adjudicator Merge Requests{%endblock%}

{%block adjudicator-merges-selected%}class="selected"{%endblock%}

{% block head %}
<script type="text/javascript">
  function reject_merge(pMergeRequestSerial)
  {
  $('<div id="blanket"></div><div id="popup">Loading...</div>').appendTo('#content');
    $('#blanket').bind('click', function(){
      $('#popup').remove();
      $('#blanket').remove();
    });
    var lLeft = 50;
    var lTop = 50;
    var lInputDialog = '<h1>Rejection Reason (send to original submitter)</h1><textarea name="extra" id="reason-text" cols="100" rows="12"></textarea><input type="submit" value="Reject" id="submit-rejection"/>';
    $('#popup').css('top',lTop).css('left',lLeft).html(lInputDialog);
    $('#submit-rejection').click(function(){
      $('#mergeRequestRow-' + pMergeRequestSerial).html('<td>Processing...</td>');
      var lUrl = "/move/adjudicators/reject_merge/" + pMergeRequestSerial + "/";
      var lExtraInfo = $('#reason-text').val()
      $.post(lUrl, {'reason' : lExtraInfo}, function(){
        $('#mergeRequestRow-' + pMergeRequestSerial).html('<td>Rejected</td>');
      });
      $('#blanket').click();
    });
  }
</script>
{% endblock %}

{% block content %}
<h1>Adjudicator Merge Requests</h1>
<table>
{% for mergeRequest in MergeRequests %}
  <tr id="mergeRequestRow-{{mergeRequest.id}}">
    <td>
      <table class="tablesorter">
        <tr><td>From: <a href="/users/{{mergeRequest.owner}}/">{{mergeRequest.owner}}</a></td><th>To Delete</th><th>Destination</th></tr>
        <tr><th>Name:</th><td><a href="/adjudicators/{{mergeRequest.source_adjudicator.slug}}/">{{mergeRequest.source_adjudicator.name}}</a></td><td><a href="/adjudicators/{{mergeRequest.destination_adjudicator.slug}}/">{{mergeRequest.destination_adjudicator.name}}</a></td></tr>
        <tr><th>Email:</th><td>{% if mergeRequest.source_adjudicator.email %}{{mergeRequest.source_adjudicator.email}}{% endif %}</td><td>{% if mergeRequest.destination_adjudicator.email %}{{mergeRequest.destination_adjudicator.email}}{% endif %}</td></tr>
        <tr><th>Deceased:</th><td>{{mergeRequest.source_adjudicator.deceased}}</td><td>{{mergeRequest.destination_adjudicator.deceased}}</td></tr>
        <tr><th>Adjudications:</th><td>{{mergeRequest.source_adjudicator.contests_count}}</td><td>{{mergeRequest.destination_adjudicator.contests_count}}</td></tr>
        <tr><th>Notes:</th><td>{% if mergeRequest.source_adjudicator.notes %}{{mergeRequest.source_adjudicator.notes}}{% endif %}</td><td>{% if mergeRequest.destination_adjudicator.notes %}{{mergeRequest.destination_adjudicator.notes}}{% endif %}</td></tr>
      </table>
    </td>
    <td>
      &nbsp;[<a href="/move/adjudicators/merge/{{mergeRequest.id}}/">merge&nbsp;now</a>]<br/><br/><br/>
      
      &nbsp;[<a href="javascript:reject_merge({{mergeRequest.id}});">reject</a>]
    </td>
  </tr>
{% empty %}
  <tr><td>None Outstanding</td></tr>
{% endfor %}
</table>
{% endblock %}