{% extends "template.html" %}
{% load i18n %}

{%block title %}{{Composer.name}} - Composer{% endblock %}

{%block keywords %}Composer {{Composer.name}}{% endblock %}

{%block description%}Details about the brass band composer {{Composer.name}}{%endblock%}

{%block composers-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#pieces").tablesorter({widgets: ['zebra']});
  });  
</script>
{% endblock %}

{% block content %}
<h1 class="composer">{{Composer.name}}
{% if user.profile.enhanced_functionality %}
{%if ShowEdit %} [<a href="/composers/edit/{{Composer.slug}}/" title="Edit this composers's details">{% trans "edit"%}</a>]{%endif%}
{%endif%}
{% if user.is_staff and perms.pieces.change_composer %} [<a href="/adminsite/pieces/composer/{{Composer.id}}/" title="Edit this composer in the admin site">admin</a>]{% endif %}
</h1>
<table width="100%">
<tr>
<td width="80%" align="left">
{% if PiecesAsComposerCount %}{% trans "Composed"%} {{PiecesAsComposerCount}} Test Piece{{PiecesAsComposerCount|pluralize:"s"}}<br/>{%endif%}
{% if PiecesAsArrangerCount %}{% trans "Arranged"%} {{PiecesAsArrangerCount}} Test Piece{{PiecesAsArrangerCount|pluralize:"s"}}{%endif%}
</td>
<td width="20%" align="right" valign="top" id="link_buttons">
  <a href="/classifieds/composer/{{Composer.slug}}/?u={{user.username}}" class="profilead">{% trans "Personalise This Page"%}</a>
</td>
</tr></table>

<div class="bannerad">
<div class="banner_slot">
{% if not user.profile.pro_member %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Brass Band Results Mid Rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5087204743199130"
     data-ad-slot="9371852405"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
</div>
</div>

<h2>{% trans "Test Pieces"%}</h2>
<table id="pieces" class="tablesorter">
	<thead>
		<tr>
			<th>{% trans "Name"%}</th>
      <th>{% trans "Composer"%}</th>
      <th>{% trans "Arranger"%}</th>
      <th>{% trans "Year"%}</th>
		</tr>
	</thead>
	<tbody>
{% for piece in Pieces %}
    <tr>
      <td class="testpiece"><a href="/pieces/{{piece.slug}}/">{{piece.name}}</a></td>
{% ifequal Composer.name piece.composer.name %}
      <td class="composer">{{piece.composer.name}}</td>
{% else %}      
      <td class="composer"><a href="/composers/{{piece.composer.slug}}/">{{piece.composer.name}}</a></td>
{% endifequal %}
{% ifequal Composer.name piece.arranger.name %}
      <td class="composer">{{piece.arranger.name}}</td>
{% else %}      
      <td class="composer"><a href="/composers/{{piece.arranger.slug}}/">{{piece.arranger.name}}</a></td>
{% endifequal %}
	  <td>{{piece.year}}</td>
      </tr>
{% endfor %}
    </tbody>
</table>
{% if Composer.notes %}
<h2>{% trans "Notes"%}</h2>
<p>{{Composer.notes|safe}}</p>
{% endif %}

{% if ShowSeeAlso %}
<h2>{% trans "See Also"%}</h2>
{% if Adjudicator %}
<p class="adjudicator"><a href="/adjudicators/{{Adjudicator.slug}}/">{{Adjudicator.name}}</a> {% trans "as an Adjudicator"%}</p>
{% endif %}
{% if Conductor %}
<p class="conductor"><a href="/conductors/{{Conductor.slug}}/">{{Conductor.name}}</a> {% trans "as a Conductor"%}</p>
{% endif %}
{% endif %}

{% if user.profile.superuser %}
<form action="/move/composers/{{Composer.slug}}/move_composers/" method="post">{%csrf_token%}
<p><input type="checkbox" id="move_composers"/> {% trans "Request merge with"%} <span id="composer_to_move_to">{% trans "another composer"%}.</span></p>
</form>
{% endif %}
{% endblock %}

{% block scriptfooter %}
{% if user.profile.superuser %}
<script type="text/javascript">
  $('#move_composers').click(function(){
    var lChecked = $('#move_composers').prop('checked');
    if (lChecked) {
      var lHtml = '<select name="moveToComposer"><option>{% trans "loading"%}...</option></select>';
      $('#composer_to_move_to').html(lHtml);  
      $.get('/composers/options/?exclude={{Composer.id}}', function(data){
          lHtml = '<select name="moveToComposer">' + data + '</select><input type="submit" value="{% trans "Move Pieces"%}"/>';
          $('#composer_to_move_to').html(lHtml);  
      });
    } else {
      $('#composer_to_move_to').html("{% trans "another composer"%}.");
    }
  });
</script>
{% endif %}

{% endblock %}