{% extends "template.html" %}
{% load i18n %}

{%block title %}{% trans "Bands"%}{% endblock %}

{%block description%}List of Brass Bands{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#bands").tablesorter({widgets: ['zebra'], headers: {1: {sorter:'flagAlpha'} }});
  });
</script>
{% endblock %}

{%block bands-selected%}class="selected"{%endblock%}

{% block content %}
{% ifequal StartsWith "ALL" %}
<h1>{% trans "All Bands"%}</h1>
{% else %}
<h1>{% trans "Bands starting with"%} {{StartsWith}}</h1>
{% endifequal %}
<p>{% trans "Showing"%} {{ResultCount}} {% trans "of"%} {{BandCount}} {% trans "bands"%}.  {% trans "This is a list of current or last known names, previous band names can be found by searching."%}</p>
{% if user.profile.enhanced_functionality %}
<p>[<a href="/bands/add/">{% trans "Add New Band"%}</a>]</p>
{% endif %}
<p>Starts with:
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/bands/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/bands/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/bands/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/bands/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/bands/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/bands/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/bands/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/bands/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/bands/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/bands/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/bands/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/bands/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/bands/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/bands/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/bands/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/bands/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/bands/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/bands/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/bands/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/bands/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/bands/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/bands/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/bands/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/bands/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/bands/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/bands/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "0" %}<span class="selected">0-9</span>{%else%}<a href="/bands/0/">0-9</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">{% trans "Show All"%}</span>{%else%}<a href="/bands/ALL/">{% trans "Show All"%}</a>{%endifequal%}
</p>
<table id="bands" class="tablesorter">
	<thead>
		<tr>
			<th>{% trans "Name"%}</th>
			<th>{% trans "Region"%}</th>
			<th>{% trans "Contest Results"%}</th>
		</tr>
	</thead>
	<tbody>
{% for band in Bands %}
    <tr>
  	  <td class="band"><a href="/bands/{{band.slug}}/">{{band.name}}</a> {{band.date_range_display}}</td>
    {% ifequal band.region.name "Unknown" %}
      <td class="region"><font color="red">{% trans "Unknown, do you know?"%}</font></td>
    {% else %} 
			<td class="region"><img src="/site_media/flags/{{band.region.country_code|lower}}.png"/> <a href="/regions/{{band.region.slug}}/">{{band.region.name}}</a></td>
    {% endifequal %}
			<td class="band-contest-count">{{band.resultcount}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<p>Starts with:
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/bands/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/bands/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/bands/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/bands/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/bands/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/bands/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/bands/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/bands/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/bands/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/bands/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/bands/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/bands/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/bands/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/bands/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/bands/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/bands/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/bands/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/bands/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/bands/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/bands/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/bands/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/bands/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/bands/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/bands/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/bands/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/bands/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "0" %}<span class="selected">0-9</span>{%else%}<a href="/bands/0/">0-9</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">{% trans "Show All"%}</span>{%else%}<a href="/bands/ALL/">{% trans "Show All"%}</a>{%endifequal%}
</p>
{% endblock %}