{% extends "template.html" %}

{%block title %}{{Adjudicator.name}} - Adjudicator{% endblock %}

{%block keywords %}Adjudicator {{Adjudicator.name}}{% endblock %}

{%block description%}Details about the brass band contest adjudicator {{Adjudicator.name}}{%endblock%}

{%block adjudicators-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#contests").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
    $("#yourcontests").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
<h1 class="adjudicator">{{Adjudicator.name}}
{% if user.profile.superuser %} [<a href="/adjudicators/edit/{{Adjudicator.slug}}/">edit</a>]{% endif %} 
{% if user.is_staff and perms.adjudicators.change_adjudicator %} [<a href="/adminsite/adjudicators/adjudicator/{{Adjudicator.id}}/">admin</a>]{% endif %}
</h1>
{% if Aliases %}
<p class="alias">Also known as: {%for alias in Aliases%}{{alias.name}}{%if not forloop.last%}, {%endif%}{%endfor%}</p>
{% endif %}
<p>{{AdjudicationsCount}} contest{{AdjudicationsCount|pluralize:"s"}} adjudicated.</p>
{% if Adjudicator.notes %}
<p>{{Adjudicator.notes|linebreaksbr}}</p>
{% endif %}
<div id="link_buttons">
<a href="/classifieds/adjudicator/{{Adjudicator.slug}}/?u={{user.username}}" class="profilead">Personalise This Page</a>
</div>


{% if UserAdjudications %}
<br/>
<h2>Your Adjudications ({{UserAdjudicationsCount}})</h2>
<p></p>
<table id="yourcontests" class="tablesorter">
  <thead>
    <tr>
      <th>Date</th>
      <th>Contest</th>
      <th>Band</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
{% for contest_history in UserAdjudications %}
      <tr class="result-{{contest_history.results_position}}">
        <td class="contest-event"><a href="/contests/{{contest_history.contest_event.contest.slug}}/{{ contest_history.contest_event.date_of_event|date:"Y-m-d" }}/">{{ contest_history.contest_event.event_date }}</a></td>
        <td class="contest">{{contest_history.contest_event.name}}</td>
        <td class="band"><a href="/bands/{{ contest_history.band.slug }}/" title="{{contest_history.band.name}}">{{ contest_history.band_name }}</a></td>
        <td>{{contest_history.results_position}}</td>
      </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

<div class="bannerad">
<div class="banner_slot">
{% if not user.profile.pro_member %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Brass Band Results Mid Rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5087204743199130"
     data-ad-slot="9371852405"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
</div>
</div>

<h2>Contest Adjudications ({{AdjudicationsCount}})</h2>
<table id="contests" class="tablesorter">
	<thead>
		<tr>
			<th>Date</th>
			<th>Contest</th>
			<th>Winner</th>
		</tr>
	</thead>
	<tbody>
{% for adjudication in Adjudications %}
      <tr>
        <td class="contest-event"><a href="/contests/{{adjudication.contest_slug}}/{{ adjudication.date_of_event|date:"Y-m-d" }}/">{{ adjudication.event_date }}</a></td>
		<td>{%if adjudication.future%}<b>{%endif%}{{ adjudication.event_name }}{%if adjudication.future%}</b>{%endif%}</td>
{% if adjudication.band_name %}
		<td class="band">{% for band in adjudication.winners %}<a href="/bands/{{ band.slug }}/">{{ band.name }}</a>{% if not forloop.last %}<br/>{%endif%}{% endfor %}</td>
{% else %}
        <td></td>
{% endif %}		
      </tr>
{% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<form action="/move/adjudicators/{{Adjudicator.slug}}/move_results/" method="post">{%csrf_token%}
<p><input type="checkbox" id="move_results"/> Request move all of these contests to <span id="adjudicator_to_move_to">another adjudicator.</span></p>
</form>
{% endif %}


{% if ShowSeeAlso %}
<h2>See Also</h2>
{% if Conductor %}
<p class="conductor"><a href="/conductors/{{Conductor.slug}}/">{{Conductor.name}}</a> as a Conductor</p>
{% endif %}
{% if Composer %}
<p class="composer"><a href="/composers/{{Composer.slug}}/">{{Composer.name}}</a> as a Composer</p>
{% endif %}
{% endif %}
{% endblock %}


{% block scriptfooter %}
<script type="text/javascript">
{% if user.is_authenticated %}  
  $('#move_results').click(function(){
    var lChecked = $('#move_results').prop('checked');
    if (lChecked) {
      var lHtml = '<select name="moveToAdjudicator"><option>loading...</option></select>';
      $('#adjudicator_to_move_to').html(lHtml); 
      $.get('/adjudicators/options/?exclude={{Adjudicator.id}}', function(data){
          lHtml = '<select name="moveToAdjudicator">' + data + '</select><input type="submit" value="Move Contests"/>';
          $('#adjudicator_to_move_to').html(lHtml); 
      });
    } else {
      $('#adjudicator_to_move_to').html("another adjudicator.");
    }
  });
{% endif %}
</script>
{% endblock %}