{% extends "template.html" %}

{%block title %}{{Adjudicator.name}} - Adjudicator Statistics{% endblock %}

{%block keywords %}Adjudicator {{Adjudicator.name}} Statistics{% endblock %}

{%block description%}Statistics about the brass band contest adjudicator {{Adjudicator.name}}{%endblock%}

{%block adjudicators-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#tabs").tabs();
    $("#pieces").tablesorter({widgets: ['zebra']});
    $("#bands").tablesorter({widgets: ['zebra']});
    $("#conductors").tablesorter({widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
<h1 class="adjudicator"><a href="/adjudicators/{{Adjudicator.slug}}/">{{Adjudicator.name}}</a> Statistics{% if user.is_staff and perms.adjudicators.change_adjudicator %} [<a href="/adminsite/adjudicators/adjudicator/{{Adjudicator.id}}/">admin</a>]{% endif %}</h1>
<p>This page contains calculated statistics about the adjudications of {{Adjudicator.name}}.  To see a simple list of contest adjudications, please see: <a href="/adjudicators/{{Adjudicator.slug}}/">{{Adjudicator.name}}</a>.</p>
<div id="tabs">
    <ul class="screenonly">
        {% if SuccessfulBands %}<li><a href="#bands-tab">Bands</a></li>{% endif %}
        {% if SuccessfulConductors %}<li><a href="#conductors-tab">Conductors</a></li>{%endif%}
        {% if SuccessfulOwnChoices %}<li><a href="#ownchoice-tab">Own Choice Pieces</a></li>{%endif%}
    </ul>

{% if SuccessfulBands %}
<div id="bands-tab">
<h2>Bands Given Podium Places</h2>
<p>Points are calculated by looking through all the times a band has played at a contest adjudicated by {{Adjudicator.name}}, and it has come in the top three places.  10 points are given for a first place, 5 for a second, and 3 for a third.</p>
<p>The Podiums column shows the number of times this band has featured in the top three at a contest adjudicated by this Adjudicator.</p>
<table id="bands" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adjudications Count</th>
      <th>Podiums Count</th>
      <th>Podiums %</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
{% for band in SuccessfulBands %}
      <tr>
        <td class="band"><a href="/bands/{{band.slug}}/">{{band.name}}</a></td>
        <td>{{band.all_count}}</td>
        <td>{{band.podium_count}}</td>
        <td>{{band.podium_percent}}%</td>
        <td>{{band.points}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{% if SuccessfulConductors %}
<div id="conductors-tab">
<h2>Conductors Given Podium Places</h2>
<p>Points are calculated by looking through all the times a conductors has conductored at a contest adjudicated by {{Adjudicator.name}}, and it has come in the top three places.  10 points are given for a first place, 5 for a second, and 3 for a third.</p>
<p>The Podiums column shows the number of times this conductor has featured in the top three at a contest adjudicated by this Adjudicator.</p>
<table id="conductors" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adjudications Count</th>
      <th>Podiums Count</th>
      <th>Podiums %</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
{% for conductor in SuccessfulConductors %}
      <tr>
        <td class="conductor"><a href="/conductors/{{conductor.slug}}/">{{conductor.name}}</a></td>
        <td>{{conductor.all_count}}</td>
        <td>{{conductor.podium_count}}</td>
        <td>{{conductor.podium_percent}}%</td>
        <td>{{conductor.points}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{% if SuccessfulOwnChoices %}
<div id="ownchoice-tab">
<h2>Own Choice Test Pieces Given Podium Places</h2>
<p>Points are calculated by looking through all the times a piece has been used for an own choice contest adjudicated by {{Adjudicator.name}}, and it has come in the top three places.  10 points are given for a first place, 5 for a second, and 3 for a third.</p>
<p>The Podiums column shows the number of times this piece has featured in the top three at an own choice contest adjudicated by this Adjudicator.</p>
<table id="pieces" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adjudications Count</th>
      <th>Podiums Count</th>
      <th>Podiums %</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
{% for piece in SuccessfulOwnChoices %}
      <tr>
        <td class="test-piece"><a href="/pieces/{{piece.slug}}/">{{piece.name}}</a></td>
        <td>{{piece.all_count}}</td>
        <td>{{piece.podium_count}}</td>
        <td>{{piece.podium_percent}}%</td>
        <td>{{piece.points}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endif %}

</div>
{% endblock %}