{% extends "template.html" %}

{%block title %}Adjudicators{% endblock %}

{%block keywords%}Adjudicator{%endblock%}

{%block description%}List of adjudicators{%endblock%}

{%block adjudicators-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#adjudicators").tablesorter({widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
{% ifequal StartsWith "ALL" %}
<h1>All Adjudicators</h1>
{% else %}
<h1>Adjudicators starting with {{StartsWith}}</h1>
{% endifequal %}
<p>Showing {{ResultCount}} of {{AdjudicatorCount}} adjudicators</p>
<p>Starts with:
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/adjudicators/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/adjudicators/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/adjudicators/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/adjudicators/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/adjudicators/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/adjudicators/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/adjudicators/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/adjudicators/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/adjudicators/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/adjudicators/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/adjudicators/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/adjudicators/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/adjudicators/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/adjudicators/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/adjudicators/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/adjudicators/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/adjudicators/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/adjudicators/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/adjudicators/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/adjudicators/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/adjudicators/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/adjudicators/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/adjudicators/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/adjudicators/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/adjudicators/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/adjudicators/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">Show All</span>{%else%}<a href="/adjudicators/ALL/">Show All</a>{%endifequal%}
</p>
<table id="adjudicators" class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Contests Adjudicated</th>
		</tr>
	</thead>
	<tbody>
{% for adjudicator in Adjudicators %}
 		<tr>
 			<td class="adjudicator"><a href="/adjudicators/{{adjudicator.slug}}/">{{adjudicator.surname}}, {{adjudicator.first_names}}</a></td>
			<td>{{adjudicator.contestcount}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<p>Starts with:
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/adjudicators/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/adjudicators/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/adjudicators/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/adjudicators/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/adjudicators/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/adjudicators/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/adjudicators/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/adjudicators/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/adjudicators/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/adjudicators/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/adjudicators/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/adjudicators/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/adjudicators/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/adjudicators/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/adjudicators/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/adjudicators/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/adjudicators/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/adjudicators/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/adjudicators/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/adjudicators/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/adjudicators/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/adjudicators/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/adjudicators/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/adjudicators/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/adjudicators/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/adjudicators/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">Show All</span>{%else%}<a href="/adjudicators/ALL/">Show All</a>{%endifequal%}
</p>
{% endblock %}