{% extends "template.html" %}
{% load i18n %}

{%block title %}Conductors{% endblock %}

{%block description%}List of brass band conductors{%endblock%}

{%block conductors-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#conductors").tablesorter({widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
{% ifequal StartsWith "ALL" %}
<h1>{% trans "All Conductors"%}</h1>
{% else %}
<h1>{% trans "Conductors starting with"%} {{StartsWith}}</h1>
{% endifequal %}
<p>{% trans "Showing"%} {{ResultCount}} {% trans "of"%} {{ConductorCount}} {% trans "conductors"%}</p>
{% if user.profile.enhanced_functionality %}
<p>[<a href="/conductors/add/">{% trans "Add New Conductor"%}</a>]</p>
{% endif %}
<p>{% trans "Starts with"%}:
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/conductors/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/conductors/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/conductors/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/conductors/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/conductors/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/conductors/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/conductors/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/conductors/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/conductors/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/conductors/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/conductors/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/conductors/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/conductors/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/conductors/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/conductors/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/conductors/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/conductors/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/conductors/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/conductors/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/conductors/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/conductors/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/conductors/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/conductors/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/conductors/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/conductors/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/conductors/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">Show All</span>{%else%}<a href="/conductors/ALL/">{% trans "Show All"%}</a>{%endifequal%}
</p>
<table id="conductors" class="tablesorter">
	<thead>
		<tr>
			<th>{% trans "Name"%}</th>
			<th>{% trans "Contest Appearances"%}</th>
		</tr>
	</thead>
	<tbody>
{% for conductor in Conductors %}
 		<tr>
 			<td class="conductor"><a href="/conductors/{{conductor.slug}}/">{{conductor.surname}}, {{conductor.first_names}}</a></td>
			<td>{{conductor.resultcount}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<p>{% trans "Starts with"%}: 
{% ifequal StartsWith "A" %}<span class="selected">A</span>{%else%}<a href="/conductors/A/">A</a>{%endifequal%}
{% ifequal StartsWith "B" %}<span class="selected">B</span>{%else%}<a href="/conductors/B/">B</a>{%endifequal%}
{% ifequal StartsWith "C" %}<span class="selected">C</span>{%else%}<a href="/conductors/C/">C</a>{%endifequal%}
{% ifequal StartsWith "D" %}<span class="selected">D</span>{%else%}<a href="/conductors/D/">D</a>{%endifequal%}
{% ifequal StartsWith "E" %}<span class="selected">E</span>{%else%}<a href="/conductors/E/">E</a>{%endifequal%}
{% ifequal StartsWith "F" %}<span class="selected">F</span>{%else%}<a href="/conductors/F/">F</a>{%endifequal%}
{% ifequal StartsWith "G" %}<span class="selected">G</span>{%else%}<a href="/conductors/G/">G</a>{%endifequal%}
{% ifequal StartsWith "H" %}<span class="selected">H</span>{%else%}<a href="/conductors/H/">H</a>{%endifequal%}
{% ifequal StartsWith "I" %}<span class="selected">I</span>{%else%}<a href="/conductors/I/">I</a>{%endifequal%}
{% ifequal StartsWith "J" %}<span class="selected">J</span>{%else%}<a href="/conductors/J/">J</a>{%endifequal%}
{% ifequal StartsWith "K" %}<span class="selected">K</span>{%else%}<a href="/conductors/K/">K</a>{%endifequal%}
{% ifequal StartsWith "L" %}<span class="selected">L</span>{%else%}<a href="/conductors/L/">L</a>{%endifequal%}
{% ifequal StartsWith "M" %}<span class="selected">M</span>{%else%}<a href="/conductors/M/">M</a>{%endifequal%}
{% ifequal StartsWith "N" %}<span class="selected">N</span>{%else%}<a href="/conductors/N/">N</a>{%endifequal%}
{% ifequal StartsWith "O" %}<span class="selected">O</span>{%else%}<a href="/conductors/O/">O</a>{%endifequal%}
{% ifequal StartsWith "P" %}<span class="selected">P</span>{%else%}<a href="/conductors/P/">P</a>{%endifequal%}
{% ifequal StartsWith "Q" %}<span class="selected">Q</span>{%else%}<a href="/conductors/Q/">Q</a>{%endifequal%}
{% ifequal StartsWith "R" %}<span class="selected">R</span>{%else%}<a href="/conductors/R/">R</a>{%endifequal%}
{% ifequal StartsWith "S" %}<span class="selected">S</span>{%else%}<a href="/conductors/S/">S</a>{%endifequal%}
{% ifequal StartsWith "T" %}<span class="selected">T</span>{%else%}<a href="/conductors/T/">T</a>{%endifequal%}
{% ifequal StartsWith "U" %}<span class="selected">U</span>{%else%}<a href="/conductors/U/">U</a>{%endifequal%}
{% ifequal StartsWith "V" %}<span class="selected">V</span>{%else%}<a href="/conductors/V/">V</a>{%endifequal%}
{% ifequal StartsWith "W" %}<span class="selected">W</span>{%else%}<a href="/conductors/W/">W</a>{%endifequal%}
{% ifequal StartsWith "X" %}<span class="selected">X</span>{%else%}<a href="/conductors/X/">X</a>{%endifequal%}
{% ifequal StartsWith "Y" %}<span class="selected">Y</span>{%else%}<a href="/conductors/Y/">Y</a>{%endifequal%}
{% ifequal StartsWith "Z" %}<span class="selected">Z</span>{%else%}<a href="/conductors/Z/">Z</a>{%endifequal%}
{% ifequal StartsWith "ALL" %}<span class="selected">Show All</span>{%else%}<a href="/conductors/ALL/">{% trans "Show All"%}</a>{%endifequal%}
</p>
{% endblock %}