{% extends "template.html" %}

{%block title %}Sections{% endblock %}

{%block keywords %}Sections{% endblock %}

{%block description %}List of brass band contest sections{% endblock %}

{%block sections-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#sections").tablesorter({widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
<h1>Section Counts</h1>
<p>Competing and non-competing bands included.  Bands listed with a section have competed in the last three years, and they are listed in their most recently competed in section.</p>


<h2>United Kingdom</h2>
<table id="sections" class="tablesorter">
	<thead>
		<tr>
			<th>Section</th>
			<th>Region</th>
			<th>Band Count</th>
		</tr>
	</thead>
	<tbody>
{% for section_count in UkSectionCounts %}
    	<tr>
    		<td>{{section_count.sectionName}}</td>
			<td>{{section_count.regionName}}</td>
			<td>{{section_count.count}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<div class="bannerad">
<div class="banner_slot">
{% if not user.profile.pro_member %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Brass Band Results Mid Rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5087204743199130"
     data-ad-slot="9371852405"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
</div>
</div>


<h2>Rest of World</h2>
<table id="sections" class="tablesorter">
    <thead>
        <tr>
            <th>Section</th>
            <th>Region</th>
            <th>Band Count</th>
        </tr>
    </thead>
    <tbody>
{% for section_count in WorldSectionCounts %}
        <tr>
            <td>{{section_count.sectionName}}</td>
            <td>{{section_count.regionName}}</td>
            <td>{{section_count.count}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}